.box {
    border: 1px solid white;
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    padding: 15px 0;
}

.green {
    background-color: green;
    border: 1px solid red;
}

.box-nested {
    border: 1px solid white;
    background-color: red;
    color: white;
    height: auto;
    padding: 15px;
}